


body {
    background-image: url("./background.jpeg");
    
}

.style1 {
    font-family: sans-serif;
    width:85%;
    margin:auto;
    background-color: rgba(255, 255, 255, .4);
    
    padding: 15px;
}

.style1 > a, a:visited, a:link, a:active, a:hover {
    
    font-weight: bold;
}
.logos {
    background-color: white;
    width: 150px;
    padding: 15px;
    margin: 15px;
    display: inline-block;

}
.logo-img {
    width: 100%;
}

.pics {
    width: 30px;
}
.fontsize {
    font-size: 40px;
}