.sansserif {
    font-family: sans-serif;
/*}
.img1 {

 position: fixed;
    bottom: 1000000;
    right: 100;
}
.img2 {
	 position: fixed;
    bottom: ;
    right: 75;
}
.img3{
	 position: fixed;
    bottom: 75;
    right: 75;
}
.img4{
	 position: fixed;
    bottom: 75;
    right: 75;
}
*/